<div class="editQuestion" *ngIf="authorizedAccount.id!=undefined">
  <div class="example-action-buttons">
    <button mat-raised-button class="button"
            (click)="accordion.openAll()">{{ 'EDIT_USER.EXPAND_ALL' | translate }}</button>
    <button mat-raised-button class="button"
            (click)="accordion.closeAll()">{{ 'EDIT_USER.COLLAPSE_ALL' | translate }}</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EDIT_USER.LOGIN' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{user.login}}
          <mat-icon>login</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.login">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EDIT_USER.EMAIL' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{user.email}}
          <mat-icon>email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.email">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="authorizedAccount.role=='ADMIN'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EDIT_USER.ROLE' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{user.role}}
          <mat-icon>role</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form" appearance="fill">
        <mat-select [(ngModel)]="user.role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>


  <a mat-raised-button color="primary" href="users"
     (click)="this.isUpdateUser?updateUser():createUser(user)">{{ 'EDIT_USER.SAVE' | translate }}</a>
</div>

