<div class="editQuestion">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
        <mat-panel-description>
          {{user.login}}
          <mat-icon>login</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.login">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Email
        </mat-panel-title>
        <mat-panel-description>
          {{user.mail}}
          <mat-icon>email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
            <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.mail">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="authorizedAccount.role=='ADMIN'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Role
        </mat-panel-title>
        <mat-panel-description>
          {{user.role}}
          <mat-icon>role</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form" appearance="fill">
        <mat-select [(ngModel)]="user.role">
                    <mat-option *ngFor="let role of roles" [value]="role"   >
                      {{role}}
                    </mat-option>
                  </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
      </mat-accordion>


  <a mat-raised-button  color="primary" (click)="this.isUpdateUser?updateUser():createUser(user)">Save</a>
</div>

