.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin-top: 40px;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-edit {
  margin-top: 20px;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-left: 120px;
}

h2 {
  margin-top: 20px;
  text-align: center;
  color: #6464e2;
  text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px rgba(0,0,0,.5);
}

table {
  width: 1000px;
}

.icon-play {
  color: green;
}

.icon-clear {
  color: red;
}

.icon-share {
  color: blue;
  margin-left: auto;
  margin-right: auto;
}

.no-passed-game {
  margin-top: 20px;
}
