<div class="user-page" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h1 *ngIf="player">{{player.name}}</h1>
  </div>

  <div class="container" *ngIf="player">
    <h3>Email: {{player.email}}</h3>
    <button mat-button (click)="redirect('users/update/'+player.user)">Редактировать данные</button>

<!--    <div *ngIf="pageObserverRole === 'ADMIN' && !isOwnAccount">-->
<!--      <button class="block-button" mat-button (click)="blockUser()">Block</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="schedule" *ngIf="player">-->
<!--    <app-schedule [type]="type" [id]="player.id"></app-schedule>-->
<!--  </div>-->

</div>
