.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: oldlace;
}

.mat-card {
  background: #00bfff;
  color: oldlace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 750px;
  text-align: center;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 3px solid #00bfff;

}


.mat-radio-button {
  color: #303030;
  display: block;
  margin-left: auto;
}

.mat-icon-button {
  color: #303030;
  display: block;
  margin-left: auto;
}

.mat-mini-fab {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.back {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3pc;
  padding: 3pc;
  background: #3c629b;
}

.viewes {
  display: flex;
  justify-content: center;
}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {

  height: 100%;
  color: oldlace;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("https://quiz-netcracker-basket.s3.eu-north-1.amazonaws.com/1612968081714-img_2.png");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://quiz-netcracker-basket.s3.eu-north-1.amazonaws.com/1612968094704-img_4.png");
  min-height: 400px;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
