.example-action-buttons {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 39.5%;
  margin-right: 39.5%;
}

.button {
  color: #091324;
  background: rgba(158, 158, 158, 0.5);
  border-radius: 7px;
}

.button:hover {
  background: #80b6bd;
}

.mat-expansion-panel {
  border: 5px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.matInput {
  size: 100px;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.category, .level {
  display: flex;
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 17px;
}

.description {
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

.title {
  margin-left: 10px;
}

.icon {
  margin-left: 70px;
}
