.example-action-buttons {
  padding-bottom: 10px;
  color: oldlace;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.matInput {
  size: 100px;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}
