<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">{{ 'ADD_GAME.QUESTION_DETAIL.EXPAND_ALL' | translate }}</button>
  <button mat-button (click)="accordion.closeAll()">{{ 'ADD_GAME.QUESTION_DETAIL.COLLAPSE_ALL' | translate }}</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <div *ngIf="questionForm">
    <form [formGroup]="questionForm">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'ADD_GAME.QUESTION_DETAIL.TITLE' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{getTitle()}}
            <mat-icon>title</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="example-form">
          <label>
            <input matInput placeholder="{{ 'ADD_GAME.QUESTION_DETAIL.TITLE' | translate }}" formControlName="title" (input)="checkForm()" required>
          </label>
          <mat-error *ngIf="questionForm?.get('title').touched && questionForm.get('title').errors?.required">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="questionForm?.get('title').touched && questionForm.get('title').errors?.duplicate">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.DUPLICATE' | translate }}
          </mat-error>
          <mat-error *ngIf="questionForm?.get('title').touched && questionForm.get('title').errors?.minlength">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.MINLENGTH' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'ADD_GAME.QUESTION_DETAIL.DESCRIPTION' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{getDescription()}}
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="example-form">
          <label>
            <input matInput placeholder="{{ 'ADD_GAME.QUESTION_DETAIL.DESCRIPTION' | translate }}" formControlName="description" (input)="checkForm()" required>
          </label>
          <mat-error *ngIf="questionForm?.get('description').touched && questionForm.get('description').errors?.required">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="questionForm?.get('description').touched && questionForm.get('description').errors?.duplicate">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.DUPLICATE' | translate }}
          </mat-error>
          <mat-error *ngIf="questionForm?.get('description').touched && questionForm.get('description').errors?.minlength">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.MINLENGTH' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'ADD_GAME.QUESTION_DETAIL.CATEGORY' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{getCategory()}}
            <mat-icon>category</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" class="category">
          <mat-select formControlName="category" (selectionChange)="checkForm();" disableOptionCentering required>
            <mat-option *ngFor="let category of categories" [value]="category.title">
              {{category.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="questionForm?.get('category').touched && questionForm?.get('category').errors?.required">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'ADD_GAME.QUESTION_DETAIL.LEVEL' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{getLevel()}}
            <mat-icon>star_rate</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" class="level">
          <mat-select formControlName="level" (selectionChange)="checkForm()" disableOptionCentering required>
            <mat-option *ngFor="let level of levels" [value]="level.title">
              {{level.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="questionForm?.get('level').touched && questionForm?.get('level').errors?.required">
            {{ 'ADD_GAME.QUESTION_DETAIL.ERROR.REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-card class="photo">
        <div class="title">
          {{ 'PHOTO.TITLE' | translate }}
        </div>
        <div class="description">
          <button mat-button (click)="fileInput.click()">{{ 'PHOTO.CHOOSE' | translate }}</button>
          <input hidden type="file" id="file" class="photo-input" (change)="selectFile($event)"
                 #fileInput accept=".jpg, .jpeg, .png">
          <div *ngIf="picture">
            {{ picture.name }}
          </div>
        </div>
        <div class="icon">
          <mat-icon>
            party_mode
          </mat-icon>
        </div>

      </mat-card>

<!--          <app-category [categoryControl]="questionForm.get('category')"-->
<!--                        [question]="question"-->
<!--                        (categoryControlChange)="setCategoryControl($event)">-->
<!--          </app-category>-->

<!--          <app-level-->
<!--            [levelControl]="questionForm.get('level')"-->
<!--            [question]="question"-->
<!--            (levelControlChange)="setLevelControl($event)">-->
<!--          </app-level>-->
    </form>
  </div>

</mat-accordion>
