<mat-card>
  <mat-card-title>{{ 'SIGN_UP.TITLE' | translate }}</mat-card-title>
  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="submitPlayer()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username" [errorStateMatcher]="errorMatcher">
          <mat-error *ngIf="username.hasError('minlength')">
            {{ 'SIGN_IN.SIGN_UP_ONCE.MINLENGTH' | translate }}
          </mat-error>
          <mat-error *ngIf="username.hasError('required')">
            {{ 'SIGN_IN.SIGN_UP_ONCE.REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="form.invalid || error">Login</button>
        <!--        <a mat-raised-button  color="primary" (click)="register(user)">Save</a>-->
      </div>
            <div class="text-left">
              <a class="text-small-ref" (click)="redirect('sign_up')">
                {{ 'SIGN_IN.SIGN_UP_ONCE.CREATE_ACC' | translate }}
              </a>
            </div>
    </form>
  </mat-card-content>
</mat-card>
