<div *ngIf="!isLoading;else loading">
  <div class="header">
    <h1 mat-dialog-title>{{ 'PLAYROOM.TITLE' | translate }}</h1>
  </div>
  <div>
    <table cellspacing="0">
      <tr>
        <th>No.</th>
        <th><span class="column-player">{{ 'PLAYROOM.COLUMN_NAME' | translate }}</span></th>
        <th>&nbsp;</th>
      </tr>
      <tr *ngFor="let player of data.gameRoom.players; let i = index">
        <td>{{i + 1}}</td>
        <td>{{player.name}}</td>
        <td class="column-delete" *ngIf="this.data.gameRoom.players[0].id==this.data.player.id">
          <button mat-icon-button (click)="deletePlayer(player.id)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="actions">
    <div mat-dialog-actions>
      <div class="close">
        <button mat-button mat-dialog-close class="color-my-button">{{ 'PLAYROOM.BUTTON_LEAVE' | translate }}</button>
      </div>
      <div *ngIf="this.data.gameRoom.players[0].id==this.data.player.id; else notFirstPlayer">
        <div class="play">
          <a mat-button (click)="startGame()" class="color-my-button">{{ 'PLAYROOM.BUTTON_PLAY' | translate }}</a>
        </div>
      </div>
      <ng-template #notFirstPlayer>
        <div class="spinner">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner"></div>
</ng-template>
