<div class="container">
  <div class="header">
    <h1 mat-dialog-title>{{ 'PLAYROOM.TITLE' | translate }}</h1>
  </div>
  <div class="body">
    <div class="title">
      <div class="column-number">
        <h3>№</h3>
      </div>
      <div class="column-name">
        <h3>{{ 'PLAYROOM.COLUMN_NAME' | translate }}</h3>
      </div>
      <div class="column-delete">

      </div>
    </div>
    <div *ngFor="let player of data.gameRoom.players; let i = index">
      <div class="players">
        <div class="column-number">
          {{i + 1}}
        </div>
        <div class="column-name">
          {{player.name}}
        </div>
        <div class="column-delete" *ngIf="this.data.gameRoom.players[0].id==this.data.player.id">
          <button mat-icon-button (click)="deletePlayer(player.id)" >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div mat-dialog-actions>
      <div class="close">
        <button mat-button mat-dialog-close>{{ 'PLAYROOM.BUTTON_LEAVE' | translate }}</button>
      </div>
      <div *ngIf="this.data.gameRoom.players[0].id==this.data.player.id; else notFirstPlayer">
        <div class="play">
          <a mat-button (click)="startGame()" style="right: 0">{{ 'PLAYROOM.BUTTON_PLAY' | translate }}</a>
        </div>
      </div>
      <ng-template #notFirstPlayer>
        <div class="spinner">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
