.header {
  text-align: center;
}

.column-delete {
  color: red;
}

.actions {
  display: flex;
  flex-direction: row;
}

.play {
  margin-left: 80px;
}

.spinner {
  margin-left: 100px;
}

.mat-icon-button {
  transform: scale(0.7);
}

TABLE {
  width: 300px; /* Ширина таблицы */
}

TH {
  text-align: left; /* Выравнивание по левому краю */
}
