<mat-card class="search">


  <mat-card-content>
    <div class="container">
      <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <mat-form-field class="example-form">
          <span><input matInput class="form-control" type="search" name="search"
                       ngModel placeholder="{{ 'GAME.SEARCH_NAME' | translate }}"
                       aria-label="Search"></span>
          <span class="btnSearch">
            <button mat-button>
    <mat-icon>loupe</mat-icon>
</button>
          </span>
        </mat-form-field>

      </form>
    </div>
  </mat-card-content>

</mat-card>
