.form-inline {
  size: 100px;
}

.form-control {
  max-width: 500px;
  margin: auto;
  color: white;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 60pc;
  /*min-width: 80%;*/
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.text-left {
  text-align: left;
}

.text-small-ref {
  cursor: pointer;
  font-size: 13px;
  color: darkgrey;
}

.sign-up-margin {
  margin: 0 10px 0;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-checkbox-group {
  align-content: center;
  align-items: center;
}

.search {
  min-width: 80%;
  width: 100%;
}

.btnSearch {
  right: 0;
}

.mat-form-field .example-form {
  display: flex;
  color: white;
}

.mat-expansion-panel-header-title {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


