<mat-card class="search">


  <mat-card-content>
    <div class="container">
      <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <mat-form-field class="example-form">
          <span><input matInput class="form-control" type="search" name="search"
                       ngModel placeholder="{{ 'GAME.SEARCH_NAME' | translate }}"
                 aria-label="Search"></span>
          <span class="btnSearch">

          </span>
        </mat-form-field>
        <button class="btn btn-outline-success" type="submit">{{ 'GAME.SEARCH' | translate }}</button>
      </form>
    </div>
  </mat-card-content>

</mat-card>
