<div *ngIf="!isLoading;else loading">
  <h1>{{'LEADERS.LEADERBOARDS' | translate}}</h1>
  <div class="container">
    <mat-card class="title">
      <div class="position">№</div>
      <div class="player">{{'LEADERS.NAME' | translate}}</div>
      <div class="rating">{{'LEADERS.RATING' | translate}}</div>
    </mat-card>
    <div *ngFor="let entry of getValueOfMap; let i = index">
      <mat-card class="title">
        <div class="position">{{i + 1}}</div>
        <div class="player">{{entry}}</div>
        <div class="rating">{{map.get(entry).toFixed(2)}}</div>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner"></div>
</ng-template>
