.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: oldlace;
}

.mat-card {
  background: #00bfff;
  color: oldlace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 750px;
  text-align: center;
  width: 300px;
  height: 350px;
}

.mat-icon-button {
  color: #303030;
  display: block;
  margin-left: auto;
}

.mat-mini-fab {
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
}

.games{
  margin-bottom: 100px;
}

.place{
  height: 20px;
}

.app-widget-search-bar {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.inner-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 50px;
  flex-wrap: wrap;
}

.photo{
  margin-top: 40px;
  flex-grow: 1;
}

.outer-container {
  margin-bottom: 100px;
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  background: conic-gradient(at 0% 30%, #ffffff 10%, #ffffff 30%, #2fb9e5 50%);
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 3px solid #00bfff;
  box-shadow: 0 0 7px #666;
}

.round{
  border-radius: 100px;
  box-shadow: 0 0 7px #666;
}

svg{
  font-weight:bold;
  max-width:600px;
  height:15px;
}
