.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: oldlace;
}

.mat-card {
  background: #e91e63 url(src/assets/images/sky.jpg);
  color: oldlace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 750px;
  text-align: center;
}

.mat-icon-button {
  color: #303030;
  display: block;
  margin-left: auto;
}

.mat-mini-fab {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 720px;*/
/*}*/

/*.games {*/
/*  flex: 1 1 auto;*/
/*}*/

/*.footer{*/
/*  align-items: flex-end;*/
/*}*/

.footer {
  position: fixed;
  /*left: 50pc;*/
  right: 0;
  bottom: 0;
  width: 100%;
}

.games{
  margin-bottom: 100px;
}

.place{
  height: 20px;
}

.app-widget-search-bar {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}
