<div>
  <h1>Available Games to play</h1>



  <h1>First Search Example</h1>

  <app-widget-search-bar></app-widget-search-bar>
  <h1>Another Search Example</h1>

  <app-widget-search-bar-button></app-widget-search-bar-button>
  </div>

<form>
  <div *ngFor="let game of games">
    <mat-card>
      <mat-card-title>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        {{game.title}}
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="game/updateGame/{{game.id}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            <span>Edit</span>
          </a>
          <a mat-menu-item href="games" (click)="deleteGame(game.id)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete_outline</mat-icon>
            <span>Delete</span>
          </a>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        {{game.description}}
      </mat-card-content>
      <!--      <mat-card-actions>-->
      <!--        <mat-radio-group aria-label="Select an option">-->
      <!--          <mat-radio-button *ngFor="let answer of question.answersSet" value="{{answer.id}}"-->
      <!--                            color="accent">{{answer.title}}</mat-radio-button>-->
      <!--        </mat-radio-group>-->
      <!--      </mat-card-actions>-->
    </mat-card>
  </div>

</form>




