<div class="container">
  <h1>Available Games to play</h1>
  <app-widget-search-bar-button></app-widget-search-bar-button>
</div>
<div class="outer-container">
  <form>
    <div class="inner-container">
      <div *ngFor="let game of pageSlice" style="margin-left: 100px;">
        <mat-card>
          <mat-card-title>
            {{game.title}}
          </mat-card-title>
          <mat-card-subtitle>
            <h1>{{game.description}}</h1>
          </mat-card-subtitle>
          <div class="photo" *ngIf="game.photo">
            <a><img src="{{game.photo}}" width="200" height="200" alt="Photo from Amazon S3"></a>
          </div>
          <mat-card-subtitle style="margin-top: 20px;">
            <a mat-raised-button href="/game/{{game.id}}">Просмотреть</a>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
    <a mat-mini-fab color="primary" href="game/create" style="margin-top: 20px;">
      <mat-icon>add</mat-icon>
    </a>
  </form>
</div>
<div class="place"></div>
<div>
  <div class="footer">
    <mat-paginator [length]="this.games?.length"
                   [pageSize]="3"
                   [pageSizeOptions]="[3,6, games?.length]"
                   (page)="OnPageChange($event)">
    </mat-paginator>
  </div>
</div>



