<div class="addQuestion">
  <div *ngIf="questionForm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Добавление вопроса
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-question-detail [question]="question" [questionForm]="questionForm"></app-question-detail>
      <app-answer [question]="question" [answerForm]="answerForm"></app-answer>
      <button mat-raised-button color="primary" [disabled]="!questionForm.valid" (click)="addQuestion()">Добавить</button>
    </mat-expansion-panel>
  </div>
</div>
