.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #5d6cd7;
  font-family: 'Roboto Slab', serif;
}

.mat-card {
  display: flex;
  background: url(src/assets/images/quiz.png);
  color: oldlace;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5pc;
  padding: 5pc;

}

.mat-icon-button {
  color: #303030;
  display: block;
  margin-left: auto;
  margin-right: 0;
  justify-content: right;

}

.mat-icon-button {
  color: #303030;
  display: block;
  margin-left: auto;
}

.mat-mini-fab {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-widget-search-bar {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
  color : yellow;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1pc;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}






