.window {
  display: flex;
  width: 100%;
  height: 91%;
  background: url("https://quiz-netcracker-basket.s3.eu-north-1.amazonaws.com/1612268276494-quiz.png");
}

.container{
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.title{
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.back{
  margin-left: 20px;
}


