<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Категория
    </mat-panel-title>
    <mat-panel-description>
      {{gameCategoryName}}
      <mat-icon>category</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field appearance="fill">
    <mat-select [formControl]="gameCategoryControl" (selectionChange)="checkForm();" disableOptionCentering required>
      <mat-option *ngFor="let gameCategory of gameCategories" [value]="gameCategory.title">
        {{gameCategory.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="gameCategoryControl.errors?.required">Пожалуйста, выберите категорию</mat-error>
  </mat-form-field>
</mat-expansion-panel>
