<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Уровень сложности
    </mat-panel-title>
    <mat-panel-description>
      <span>{{levelName}}</span>
      <mat-icon>star_rate</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field appearance="fill">
    <mat-select [formControl]="levelControl" (selectionChange)="checkForm()" disableOptionCentering required>
      <mat-option *ngFor="let level of levels" [value]="level.title">
        {{level.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="levelControl.errors?.required">Пожалуйста, выберите сложность</mat-error>
  </mat-form-field>
</mat-expansion-panel>
