<div *ngIf="!isLoading;else loading">
  <div class="container">
    <div class="header">
      <h1>
        {{ 'MULTIPLAYER.QUESTION' | translate }} {{questionNumber + 1}} {{ 'MULTIPLAYER.OF' | translate }} {{quantityQuestion}}
      </h1>
    </div>
    <mat-card class="card">
      <div class="title">
        <div class="question_name">
          <h2>{{question.title}}</h2>
        </div>
        <div class="time">
          <countdown #timer [config]="{leftTime: 15, format: 'mm:ss'}" (event)="timerEvent($event)"></countdown>
        </div>
      </div>
      <div class="image" *ngIf="question.photo">
        <img src="{{question.photo}}" alt="Photo from Amazon S3"
             style="margin-left: 30px; margin-top: 20px; width: 750px; height: 400px;">
      </div>
      <div class="body">
        <div>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="answer">
            <mat-radio-button class="example-radio-button" disabled="{{isDisabled()}}"
                              *ngFor="let answer of question.answersSet" [value]="answer">
              {{answer.title}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="action">
        <div *ngIf="answer && !timeIsOver; else blockButtonReply" class="myButtons">
          <button mat-flat-button color="warn" (click)="addAnswer()"
                  disabled="{{isBlockAnswers}}">{{ 'MULTIPLAYER.BUTTON_REPLY' | translate }}
          </button>
        </div>
        <ng-template #blockButtonReply>
          <div *ngIf="answeredQuestion == quantityQuestion; else nextQuestionOrBlockButtonReply">
            <a mat-flat-button class="statistics" color="accent" href="statistics/{{gameId}}/{{playerId}}"
               (click)="disconnect()">{{ 'MULTIPLAYER.BUTTON_STATISTICS' | translate }}</a>
          </div>
        </ng-template>
        <ng-template #nextQuestionOrBlockButtonReply>
          <!--        <div *ngIf="player.id==game.player && timeIsOver; else timerIsOver">-->
          <!--          <button mat-flat-button color="primary"-->
          <!--                  (click)="setNextQuestion();timer.restart();">{{ 'MULTIPLAYER.BUTTON_NEXT' | translate }}</button>-->
          <!--        </div>-->
          <div *ngIf="timeIsOver; else timerIsOver">
            <button mat-flat-button color="primary"
                    (click)="setNextQuestion();timer.restart();">{{ 'MULTIPLAYER.BUTTON_NEXT' | translate }}</button>
          </div>
          <ng-template #timerIsOver>
            <button mat-flat-button class="myButtons" color="warn"
                    disabled>{{ 'MULTIPLAYER.BUTTON_REPLY' | translate }}</button>
          </ng-template>
        </ng-template>
      </div>
    </mat-card>

    <div class="player-board">
      <div *ngFor="let player of players">
        <mat-card class="players">
          <div>
            <div class="name-player">
              <h4>{{player.player.name}}</h4>
              <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                      (click)="sendLikePlayer(player.player)">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>

            <div class="legs">
              <div *ngFor="let i of index">
                <mat-card class="index" style="background: {{player.answerColor[i]}}">
                  {{i + 1}}
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner"></div>
</ng-template>
