<div class="container">
  <div class="header">
    <h1>
      Вопрос {{questionNumber + 1}} из {{quantityQuestion}}
    </h1>
  </div>
  <mat-card class="card">
    <div class="title">
      <div>
        <h2>{{question.title}}</h2>
      </div>
      <div class="time">
        <span *ngIf="count<10;else timerAfterTen">
          00:0{{count}}
        </span>
        <ng-template #timerAfterTen>
          00:{{count}}
        </ng-template>
      </div>
    </div>
    <div class="image">
      <img class="displayed" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Photo of a Shiba Inu">
    </div>
    <div class="body">
      <div>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="answer">
          <mat-radio-button class="example-radio-button" disabled="{{isDisabled()}}"
                            *ngFor="let answer of question.answersSet" [value]="answer">
            {{answer.title}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="action">
      <div *ngIf="answer && !timeIsOver; else blockButtonReply" class="myButtons">
        <button mat-flat-button color="warn" (click)="addAnswer()"
                disabled="{{isBlockAnswers}}">Ответить
        </button>
      </div>
      <ng-template #blockButtonReply>
        <div *ngIf="answeredQuestion == quantityQuestion; else nextQuestionOrBlockButtonReply">
          <a mat-flat-button class="statistics" color="accent" href="statistics/{{gameId}}"
             (click)="disconnect()">Статистика</a>
        </div>
      </ng-template>
      <ng-template #nextQuestionOrBlockButtonReply>
        <div *ngIf="player.id==game.player && timeIsOver; else timerIsOver">
          <button mat-flat-button color="primary" (click)="setNextQuestion()">Далее</button>
        </div>
        <ng-template #timerIsOver>
          <button mat-flat-button class="myButtons" color="warn" disabled>Ответить</button>
        </ng-template>
      </ng-template>
    </div>
  </mat-card>

  <div *ngFor="let player of players">
    <mat-card class="players">
      <div>
        <div class="name-player">
          <h4>{{player.player.name}}</h4>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                  (click)="sendMessage(player.player)">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="legs">
          <div *ngFor="let i of index">
            <mat-card class="index" style="background: {{player.answerColor[i]}};">
              {{i + 1}}
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

