<div class="questions">
  <div *ngIf="game.questions.length > 0">
    <h1>{{ 'ADD_GAME.QUESTIONS.TITLE' | translate }}</h1>
  </div>
  <form>
    <div *ngFor="let question of game.questions">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{question.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-question [game]="game" [question]="question"></app-edit-question>
      </mat-expansion-panel>
    </div>
  </form>
</div>




