<!--<mat-toolbar color="primary">-->
<!--  <a mat-button href="">Home</a>-->
<!--  <button mat-button [matMenuTriggerFor]="belowMenu">Game</button>-->
<!--  <mat-menu #belowMenu="matMenu" yPosition="below">-->
<!--&lt;!&ndash;    <a mat-menu-item href="quiz">Quiz</a>&ndash;&gt;-->
<!--    <a mat-menu-item href="users">User</a>-->
<!--    <a mat-menu-item href="games"> Games</a>-->
<!--  </mat-menu>-->
<!--  <a mat-button href="" disabled="true">About</a>-->
<!--  <a mat-button>My Games</a>-->
<!--</mat-toolbar>-->

<mat-toolbar color="primary" role="heading">
  <div *ngIf="isAccount"><p>{{authorizedAccount.login}}</p></div>
  <!--  <span class="nav-fill-remaining-space"></span>-->
  <!--  <div class="navigation">-->
  <!--    <a mat-button href="">Home</a>-->
  <!--    <button  mat-button (click)="redirect('games')">Викторины</button>-->
  <a mat-button href="">{{ 'NAV_BAR.HOME' | translate }}</a>
  <div class="navigation">
    <button mat-button (click)="redirect('games')">{{ 'NAV_BAR.QUIZ' | translate }}</button>
  </div>
  <div *ngIf="languages.RU">
    <mat-form-field class="language-container">
      <mat-select [value]="currentLanguage">
        <mat-option [value]="languages.RU" (click)="changeLanguage(languages.RU)">
          {{ languages.RU }}
        </mat-option>
        <mat-option [value]="languages.EN" (click)="changeLanguage(languages.EN)">
          {{ languages.EN }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="nav-fill-remaining-space"></span>
  <div *ngIf="!isAccount">
    <button mat-button (click)="redirect('sign_up')">{{ 'NAV_BAR.SIGN_UP' | translate }}</button>
    <button mat-button (click)="openLoginDialog()">{{ 'NAV_BAR.SIGN_IN' | translate }}</button>
  </div>
  <div *ngIf="isAccount">
    <button mat-button (click)="toAccount()"
            *ngIf="authorizedAccount.role=='USER'">{{ 'NAV_BAR.OFFICE' | translate }}</button>
    <button mat-button (click)="redirect('users')"
            *ngIf="authorizedAccount.role=='ADMIN'">{{ 'NAV_BAR.USERS' | translate }}</button>
  </div>
  <!--  <div *ngIf="isAccount"> <p>{{authorizedAccount.login}}</p></div>-->
  <div *ngIf="isAccount">
    <button mat-button (click)="logout()">{{ 'NAV_BAR.SIGN_OUT' | translate }}</button>
  </div>
</mat-toolbar>
