.nav-fill-remaining-space {
  flex: 1 1 auto;
}

.navigation button {
  display: inline-flex;
}

.username div {
  size: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 1080px;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
  font-style: italic; /* Курсивное начертание */
}

.language-container {
  margin-top: 7px;
  max-width: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mat-option {
  height: 40px !important;
  line-height: 40px !important;
}
