<mat-toolbar color="primary">
  <a mat-button href="">Home</a>
  <button mat-button [matMenuTriggerFor]="belowMenu">Game</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
<!--    <a mat-menu-item href="quiz">Quiz</a>-->
    <a mat-menu-item href="users">User</a>
    <a mat-menu-item href="games"> Games</a>
  </mat-menu>
  <a mat-button href="" disabled="true">About</a>
  <a mat-button href="userGames">My Games</a>
<!--  <a mat-button routerLink="auth" routerLinkActive="active">Login</a>-->
<!--  &lt;!&ndash;     <a (click)="logout()">Logout</a>&ndash;&gt;-->
<!--  <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>-->

</mat-toolbar>
