.nav-fill-remaining-space {
  flex: 1 1 auto;
}

.text-ref {
  cursor: pointer;
  text-decoration-line: none;
}

a:visited {
  color: white;
}

.nav-list {
  display: inline-flex;
  margin-left: 450px;
}

.item {
  display: inline-flex;
  margin-right: 80px;
  color: white;
  font-size: small;
}

.navigation {
  margin-right: 100px;
}

.navigation button
{
  display: inline-flex;
}


.search {
  font-size: small;
}

.button-search {
  padding-left: 0;
}
