<mat-toolbar color="primary" role="heading">

  <span class="nav-fill-remaining-space"></span>

  <div *ngIf="!isAccount" class="button">
    <button type="submit" mat-button (click)="redirect('sign_up')">Sign Up</button>
    <button type="submit" mat-button (click)="openLoginDialog()">Sign In</button>
  </div>
  <div *ngIf="isAccount">
    <button mat-button (click)="redirect('quiz')" *ngIf="authorizedAccount.id">Quiz</button>
    <button type="submit" mat-button (click)="redirect('games')">MyGames</button>
    <button mat-button [matMenuTriggerFor]="beforeMenu">{{authorizedAccount.username}}</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="toAccount()">Account</button>
<!--      <button mat-menu-item (click)="openOfferDialog()"-->
<!--              *ngIf="authorizedAccount.manager_id || authorizedAccount.admin_id">Offers-->
<!--      </button>-->
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>

</mat-toolbar>
