<!--<mat-toolbar color="primary" role="heading">-->

<!--  <span class="nav-fill-remaining-space"></span>-->

<!--  <div *ngIf="!isAccount" class="button">-->
<!--    <button type="submit" mat-button (click)="redirect('sign_up')">Sign Up</button>-->
<!--    <button type="submit" mat-button (click)="openLoginDialog()">Sign In</button>-->
<!--  </div>-->
<!--  <div *ngIf="isAccount">-->
<!--    <button mat-button (click)="redirect('quiz')" *ngIf="authorizedAccount.id">Quiz</button>-->
<!--    <button type="submit" mat-button (click)="redirect('games')">MyGames</button>-->
<!--    <button mat-button [matMenuTriggerFor]="beforeMenu">{{authorizedAccount.username}}</button>-->
<!--    <mat-menu #beforeMenu="matMenu" xPosition="before">-->
<!--      <button mat-menu-item (click)="toAccount()">Account</button>-->
<!--&lt;!&ndash;      <button mat-menu-item (click)="openOfferDialog()"&ndash;&gt;-->
<!--&lt;!&ndash;              *ngIf="authorizedAccount.manager_id || authorizedAccount.admin_id">Offers&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--      <button mat-menu-item (click)="logout()">Logout</button>-->
<!--    </mat-menu>-->
<!--  </div>-->

<!--</mat-toolbar>-->
<mat-toolbar color="primary" role="heading">
  <a class="text-ref text-heading" routerLink="/main">
  </a>

  <span class="nav-fill-remaining-space"></span>

  <div class="navigation">
    <!--    <button type="submit" mat-button (click)="redirect('services')"-->
    <!--            *ngIf="authorizedAccount !== undefined && (authorizedAccount.coach_id || authorizedAccount.organization_id)">-->
    <!--      Services-->
    <!--    </button>-->
    <button type="submit" mat-button (click)="redirect('games')">Games</button>

<!--    <button type="submit" mat-button (click)="redirect('organization/all')">Organizations</button>-->
  </div>

  <div *ngIf="!isAccount" class="button">
    <button type="submit" mat-button (click)="redirect('sign_up')">Sign Up</button>
    <button type="submit" mat-button (click)="openLoginDialog()">Sign In</button>
  </div>
  <div *ngIf="isAccount">
    <button type="submit" mat-button (click)="redirect('users')"
            *ngIf="authorizedAccount.player_id">
      Users
    </button>
    <button mat-button (click)="redirect('bookmark')" *ngIf="authorizedAccount.player_id">Bookmarks</button>
    <button mat-menu-item (click)="toAccount()">Account</button>
    <!--      <button mat-menu-item (click)="openOfferDialog()"-->
    <!--              *ngIf="authorizedAccount.coach_id || authorizedAccount.organization_id">Offers-->
    <!--      </button>-->
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-button [matMenuTriggerFor]="beforeMenu">{{authorizedAccount.username}}</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="toAccount()">Account</button>
<!--      <button mat-menu-item (click)="openOfferDialog()"-->
<!--              *ngIf="authorizedAccount.coach_id || authorizedAccount.organization_id">Offers-->
<!--      </button>-->
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>

</mat-toolbar>
