<div>
  <h1> {{ 'USERS.TITLE' | translate }}</h1>
</div>
<form>
  <div *ngFor="let user of users">
    <mat-card>
      <mat-card-title>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        {{user.login}}
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="users/update/{{user.id}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            <span>{{ 'USERS.EDIT' | translate }}</span>
          </a>
          <a mat-menu-item href="users" *ngIf="user.active==true"(click)="blockUser(user.id)" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">block</mat-icon>
            <span>{{ 'USERS.BLOCK' | translate }}</span>
          </a>
          <a mat-menu-item href="users"  *ngIf="user.active==false"(click)="blockUser(user.id)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">block</mat-icon>
            <span>{{ 'USERS.UNLOCK' | translate }}</span>
          </a>
          <a mat-menu-item href="users" (click)="deleteUser(user.id)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete_outline</mat-icon>
            <span>{{ 'USERS.DELETE' | translate }}</span>
          </a>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        {{user.mail}}
      </mat-card-content>
    </mat-card>
  </div>
<!--   <a mat-mini-fab color="primary" href="users/create">-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </a>-->
</form>



