<div *ngIf="answer">
  <form [formGroup]="answerForm">
    <mat-form-field appearance="fill">
      <input matInput formControlName="title" (blur)="updateAnswer()">
      <mat-error *ngIf="answerForm.get('title').touched && answerForm.get('title').errors?.required">
        Необходимо заполнить поле
      </mat-error>
      <mat-error *ngIf="answerForm.get('title').touched && answerForm.get('title').errors?.duplicate">
        Такой ответ уже существует
      </mat-error>
    </mat-form-field>
    <mat-slide-toggle formControlName="right" (change)="updateAnswer()">
    </mat-slide-toggle>
    <button mat-flat-button color="warn" (click)="deleteAnswer()">Удалить</button>
  </form>
</div>

