<div class="editQuestion">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Title
        </mat-panel-title>
        <mat-panel-description>
          {{question.title}}
          <mat-icon>title</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.title">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Description
        </mat-panel-title>
        <mat-panel-description>
          {{question.description}}
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.description">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Category
        </mat-panel-title>
        <mat-panel-description>
          {{question.category}}
          <mat-icon>category</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.category">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Level
        </mat-panel-title>
        <mat-panel-description>
          {{question.level}}
          <mat-icon>star_rate</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.level">
        </label>
      </mat-form-field>
    </mat-expansion-panel>
    <a mat-button href="quiz" (click)="c?updateQuestion():createQuestion(question)">Save</a>
  </mat-accordion>
</div>
