<div class="editQuestion">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Вопрос
        </mat-panel-title>
        <mat-panel-description>
          {{question.title}}
          <mat-icon>title</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.title">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Описание
        </mat-panel-title>
        <mat-panel-description>
          {{question.description}}
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.description">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Категория
        </mat-panel-title>
        <mat-panel-description>
          <span>{{categoryName}}</span>
          <mat-icon>category</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let category of categories">
        <button mat-raised-button color="primary"
                (click)="save(category);categoryName=category.name">{{category.name}}</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Уровень сложности
        </mat-panel-title>
        <mat-panel-description>
          {{question.level}}
          <mat-icon>star_rate</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="question.level">
        </label>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <app-answer [question]="question"></app-answer>
  <a mat-raised-button href="quiz" color="primary"
     (click)="this.isUpdateQuestion?updateQuestion():createQuestion(question)">Save</a>
</div>
