.editQuestion {
  color: oldlace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 1000px;
  text-align: center;
}

.mat-raised-button {
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 40%;
  margin-left: 40%;
}
