<!--<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">-->
<!--    <mat-card class="box">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>Register</mat-card-title>-->
<!--      </mat-card-header>-->

<!--      <form class="example-form">-->

<!--        <mat-card-content>-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <input matInput placeholder="Login" [(ngModel)]="user.login">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="example-full-width">-->
<!--            <input matInput placeholder="Email" [(ngModel)]="user.email">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="example-full-width">-->
<!--            <input matInput placeholder="Password" type="password"[(ngModel)]="user.password">-->
<!--          </mat-form-field>-->

<!--        </mat-card-content>-->

<!--        <a mat-raised-button href="users" color="primary" (click)="register(user)">Register</a>-->

<!--      </form>-->
<!--    </mat-card>-->
<!--  </div>-->
<div class="editQuestion">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          User
        </mat-panel-title>
        <mat-panel-description>
          {{user.login}}
          <mat-icon>login</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.login">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Email
        </mat-panel-title>
        <mat-panel-description>
          {{user.mail}}
          <mat-icon>email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput [(ngModel)]="user.mail">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Password
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>password</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-form">
        <label>
          <input matInput type="password"[(ngModel)]="user.password">
        </label>
      </mat-form-field>
    </mat-expansion-panel>

  </mat-accordion>
  <a mat-raised-button  color="primary" (click)="register(user)">Save</a>
</div>
