.c1{
  background: #303030;
}

.c2{
  background: #c2185b;
}

.c3{
  background: #4e4a4a;
}

.titleQuestion{
  position: absolute;
  left: 10px;
}

.myButtons{
  position: absolute;
  right: 10px;
}

mat-grid-list{
  margin-top: 100px;
}

.mat-stroked-button{
  color: #ffffff;
  margin-right: 10px;
}

.mat-progress-bar{
  margin-top: 20px;
  width: 40pc;
  margin-left: auto;
  margin-right: auto;
}

.answers{
  position: absolute;
  left: 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
