<mat-grid-list cols="6" rowHeight="4:1">
  <mat-grid-tile class="c1" colspan="1" rowspan="1"></mat-grid-tile>
  <h1>
    <mat-grid-tile class="c2" colspan="4" rowspan="1">
      Вопрос {{question.index + 1}} из {{endProgress}}
    </mat-grid-tile>
  </h1>

  <mat-grid-tile class="c1" colspan="1" rowspan="6">
    <div *ngIf="questionNumber!=quantityQuestion-1 && !check; else blockNext">
      <h2>
        <button mat-stroked-button (click)="setNextQuestion(false)">Следующий<br/>вопрос</button>
      </h2>
    </div>
    <ng-template #blockNext>
      <h2>
        <button mat-stroked-button disabled>Следующий<br/>вопрос</button>
      </h2>
    </ng-template>
  </mat-grid-tile>

  <mat-grid-tile class="c1" colspan="1" rowspan="4">
    <div *ngIf="questionNumber!=0 && !check; else blockBack">
      <h2>
        <button mat-stroked-button (click)="setBackQuestion()">Предыдущий<br/>вопрос</button>
      </h2>
    </div>
    <ng-template #blockBack>
      <h2>
        <button mat-stroked-button disabled>Предыдущий<br/>вопрос</button>
      </h2>
    </ng-template>
  </mat-grid-tile>

  <h2>
    <mat-grid-tile class="c3" colspan="4" rowspan="1">
      <div class="titleQuestion">{{question.title}}</div>
    </mat-grid-tile>
  </h2>
  <mat-grid-tile class="c3" colspan="4" rowspan="3">
    <div class="answers">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="answer">
        <mat-radio-button class="example-radio-button" disabled="{{isBlock}}"
                          *ngFor="let answer of question.answersSet" [value]="answer">
          {{answer.title}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="c1" colspan="1" rowspan="1"></mat-grid-tile>
  <mat-grid-tile class="c1" colspan="4" rowspan="1">
    <div *ngIf="answer; else blockAnswer" class="myButtons">
      <button mat-flat-button color="warn" (click)="addAnswer()"
              *ngIf="!check; else answered">Ответить
      </button>
    </div>
    <ng-template #blockAnswer>
      <button mat-flat-button class="myButtons" color="warn" disabled>Ответить</button>
    </ng-template>
    <ng-template #answered>
      <div *ngIf="answeredQuestion==endProgress;else next">
        <a mat-flat-button class="statistics" color="accent" href="statistics/{{gameId}}" (click)="disconnect()">Статистика</a>
      </div>
      <ng-template #next class="myButtons">
        <button mat-flat-button color="primary" (click)="setNextQuestion(true)">Далее</button>
      </ng-template>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
<mat-progress-bar mode="determinate" value="{{progress}}" color="warn"></mat-progress-bar>

